@model BrewHaHaNet.ViewModels.ContestViewModel

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}
<h2>Let the Contest Begin!</h2>
<section class="featured">
  <div class="content-wrapper">
    <div id="voting-area" data-num-beers="">
    

    </div>
    <div class="ui-buttonset">
      <button class="add-vote">Vote!</button>
      <button class="clear-button">Never Mind!</button>
    </div>
  </div>
</section>